---
import ViewTransitions from 'astro/components/ViewTransitions.astro';
import Layout from '../layouts/Layout.astro';
import Places from '../components/Places.astro';
import Container from '../components/Container.astro';
import { places } from '../utils/places';

---

<Layout title="Photos | Taran Pierce">
	<ViewTransitions />
	<main>
		<Container>
			<h1>Welcome to my photos</h1>
			<p>Just a place where I can show my photos to people that want to see them easier.</p>
			<p>Plus I wanted to build something in Astro to see what it was like, so I will kind of talk a bit about both here.</p>
			<p>Everything on this page, which I know is not a lot, is all using Astro and its own components. So far it feels a bit like a combination of Vue and TypeScript but as we move through the site a bit more I will try to leverage some of Astro's capabilites better to show off what it can do.</p>
			<Places data={places} />
		</Container>
	</main>
</Layout>
