.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  align-items: flex-start;

  .card {
    background-color: $trans-white-7;
    border: 1px solid $trans-black-1;
    flex-grow: 1;
    width: 200px;
    padding: 10px;
    margin: 5px;
    position: relative;
    transition: box-shadow .7s ease-in-out,
                border-color .7s ease-in-out;

    .btn {
      background-color: #3C763D;
      color: #fff;
      display: block;
      padding: 18px 26px;
      text-align: center;
      margin-top: 20px;
      text-decoration: none;
    }

    &:hover {
      border-color: $trans-black-2;
      box-shadow: 0 1px 3px $trans-black-3;
    }
  }
}