header {
  background-image: url('/images/light-veneer.png');
  background-repeat: repeat;
  background-position: top left;
  border-bottom: 1px solid $trans-black-1;
  -webkit-box-shadow: 0 1px 3px $trans-black-3;
  -moz-box-shadow: 0 1px 3px $trans-black-3;
  box-shadow: 0 1px 3px $trans-black-3;
  margin-bottom: 20px;

  .container {
    padding: 0;
  }

  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        &.brand:after {
          content: "";
          clear: both;
          display: table;
        }
        .logo {
          float: left;
        }

        .nav-toggle {
          float: right;
          padding: 16px 20px;
        }

        a {
          display: block;
          padding: 16px 20px;
          text-decoration: none;
          border-left: 1px solid transparent;
          border-right: 1px solid transparent;
          transition: background-color .3s ease-in-out,
                      border-color .3s ease-in-out;

          &:hover,
          &:active,
          &:focus {
            background-color: $trans-white-5;
            border-color: $trans-black-1;
          }
        }
      }

      .navigation {
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s ease-in-out,
                    max-height .4s ease-in-out;
        max-height: 0;

        &.open {
          border-top: 1px solid $trans-black-1;
          max-height: 600px;
          opacity: 1;
          visibility: visible;
        }
      }

      &.dropdown {
        background-image: url('/images/light-veneer.png');
        background-repeat: repeat;
        background-position: top left;
        border: 1px solid $trans-black-1;
        transition: opacity .2s ease-in-out;
        z-index: 10;

        li {
          display: block;
        }
      }
    }
  }
}

@media(min-width: 768px) {
  header {
    nav {
      ul {
        display: table;

        li {
          display: inline-block;

          .logo {
            float: none;
            padding-left: 0;

            &:hover,
            &:active,
            &:focus {
              border-color: transparent;
              background-color: inherit;
            }
          }
        }

        .nav-toggle {
          display: none;
          float: none;
        }

        .navigation {
          opacity: 1;
          visibility: visible;
        }

        &.dropdown {
          visibility: hidden;
          opacity: 0;
          position: absolute;

          &.open {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}

@media ( min-width: 992px ) {
  header {
    .container {
      padding-left: $padding-base;
      padding-right: $padding-base;
    }
  }
}