---
interface Props {
  name: string,
  tags: Array<string>,
  imageData: Array<any>,
}

import { places } from '../../utils/places';
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/Container.astro';
import Locations from '../../components/Locations.astro';
import BreadCrumbs from '../../components/BreadCrumbs.astro';

export function getStaticPaths() {
  return places.map(({
    name,
    tags,
  }) => {
    const slug = name.toLowerCase();

    return {
      params: { slug },
      props: {
        name,
        tags,
      },
    };
  });
}

const {
  name,
  tags,
} = Astro.props;

---

<Layout title={`Photos of ${name}`}>
  <main>
    <Container>
      <h1>Photos of {name}</h1>
      <BreadCrumbs previousPages={
        [
          {
            name: "home",
            path: '/'
          }, 
          {
            name: "places",
            path: '/places',
          }
        ]}
      />
      <p>Looks like there are {tags.length} to choose from...</p>
      {tags && (
        <Locations tags={tags} />
      )}
    </Container>
  </main>
</Layout>
