---
import Layout from '../../layouts/Layout.astro';
import Places from '../../components/Places.astro';
import Container from '../../components/Container.astro';
import BreadCrumbs from '../../components/BreadCrumbs.astro';
import { places } from '../../utils/places';

---

<Layout title="Places | Photos by Taran Pierce">
	<main>
		<Container>
			<h1>Welcome to my photos</h1>
			<BreadCrumbs
        previousPages={
          [
            {
              name: 'home',
              path: '/',
            }
          ]
        }
      />
			<Places data={places} />
		</Container>
	</main>
</Layout>