---
interface Props {
  tag: string,
}

const {
  tag,
} = Astro.props;

---

<div class="location">
  <h2>{tag}</h2>
  <a class="button primary" href={`/location/${tag}`}>View</a>
</div>

<style>
  .location {
    background: url('/images/regal.png') top left repeat;
    border: 2px solid var(--color-black);
    outline: 2px solid var(--color-black);
    padding: var(--padding-large);
    animation: 1s ease-in-out placeContainer;

    &:hover {
      border-color: var(--color-tertiary);
    }
  }
</style>