---
import Place from './Place.astro';

interface Props {
	data: Array<Place>;
}

interface Place {
  name: string,
  tags: Array<string>,
}

const {
  data,
} = Astro.props;

---

<div class="places-container">
  {data.map((place: Place) => {
    return (
      <Place data={place} />
    )
  })}
</div>

<style>
  .places-container {
    border: 1px solid black;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  @media(min-width: 992px) {
    .places-container {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
