---
interface Props {
	data: Place;
}

interface Place {
  name: string,
  tags: Array<string>,
}

const {
  data,
} = Astro.props;

const {
  tags,
  name,
} = data;

const pageLink = `/places/${name.toLowerCase()}`;

---

<div class="place-wrapper">
  <h2>{name}</h2>
  <p>Visited {tags.length} location{tags.length > 1 ? 's' : ''} here!</p>
  <a href={pageLink} class="button primary">View</a>
</div>

<style>
  .place-wrapper {
    background: url('/images/regal.png') top left repeat;
    border: 2px solid var(--color-black);
    padding: var(--padding-large);
    overflow: hidden;
    outline: 2px solid var(--color-black);
    animation: 1s ease-in-out placeContainer;

    &:hover {
      border-color: var(--color-tertiary);
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  img {
    display: block;
  }
</style>
