---
interface Props {
	title: string,
}

declare global {
	interface Window {
		dataLayer: any[],
	}
}

import Footer from '../components/Footer.astro';

const {
	title,
} = Astro.props;

---

<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Photographs taken from random places that I've visited." />
		<meta name="viewport" content="width=device-width initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon-96.png" />
		<meta name="author" content="Taran Pierce">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-90YT2BSV8N"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(..._args: any){window.dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-90YT2BSV8N');
		</script>
		<slot />
    <Footer />
	</body>
</html>

<style is:global>
	:root {
		--color-white: #fff;
		--color-black: #444;
		--color-primary: #2C423F;
		--color-secondary: #4C5B61;
		--color-tertiary: #829191;
		--color-tertiary-light: lighten(var(--color-tertiary), 20%);
		--color-grey: #949B96;
		--color-grey-light: #C5C5C5;
		--color-main-text: var(--color-black);
		--color-heading-text: var(--color-primary);
		--padding-main: 1rem;
	}

	html {
		font-family: system-ui, sans-serif;
		background: var(--color-primary);
		padding: 0;
		margin: 0;
		font-size: 62.5%;
	}

	body {
		background: url('/images/fresh-snow.png') top left repeat;
		color: var(--color-black);
		padding: 0;
		margin: 0;
	}

	h1, h2, h3,
	h4, h5, h6 {
		color: var(--color-heading-text);
		font-weight: bold;
		margin-top: 0;
	}

	h1 {
		font-size: 2.6rem;
	}

	h2 {
		font-size: 2.4rem;
	}

	h3 {
		font-size: 2.2rem;
	}

	h4 {
		font-size: 2rem;
	}

	h5, h6 {
		font-size: 1.8rem;
	}

	a, p, ul, li {
		font-size: 1.8rem;
	}

	a {
		color: var(--color-tertiary);

		&:hover {
			color: var(--color-tertiary-light);
		}
	}

	.button {
		display: inline-block;
		padding: var(--padding-main) 4rem;
		text-decoration: none;
		transition: all .4s ease-in-out;

		&.primary {
			background-color: var(--color-primary);
			color: var(--color-white);

			&:hover {
				background-color: var(--color-tertiary);
				text-shadow: 0 2px 0 var(--color-black);
			}
		}
	}
</style>
